<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Hello, <%= @user.email %>!</h1>
  <p>We regret to inform you that an agenda has been deleted from your team.</p>
  <p><strong>Agenda title:</strong> <%= @agenda.title %></p>
  <p>Please check your team dashboard for more details.</p>
  <p>Best,</p>
  <p>Your Team</p>
</body>
</html>
